<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="UTF-8">
<head>
    <title>Smoke Tests</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div class="col-sm-6">
    <table  class="table">
        <thead>
        <tr>
            <th scope="col"> Исходная валюта </th>
            <th scope="col"> Исходная сумма </th>
            <th scope="col"> Получаемая валюта </th>
            <th scope="col"> Получаемая сумма </th>
            <th scope="col"> Дата </th>
            <th> Имя пользователя </th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${page}">
        </tr>
        <tr th:each="val : ${page}">
            <td><span th:text="${val.sourceCur}" > Исходная валюта </span></td>
            <td><span th:text="${val.sourceValue}"> Исходная сумма </span></td>
            <td><span th:text="${val.targetCur}"> Получаемая валюта </span></td>
            <td><span th:text="${val.targetValue}"> Получаемая сумма </span></td>
            <td><span th:text="${val.date}"> Дата </span></td>
            <td><span th:text="${val.userName}"> Имя пользователя </span></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>