<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" id="bootstrap-css"
          rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h2>Hi <span></span> Добро пожаловать на лучший Конвертер валют</h2>
    <form  class="col-sm-9" method="POST" role="form" th:action="@{/convert}" th:object="${converter}">
        <div class="form-group">
            <div class="row">
                <div class="col-sm-6">

                    <select id="inputState" class="form-control" required th:field="*{currentName}">
                        <option th:each="test : ${valutName}"
                                th:value="${test.getName()}"
                                th:text="${test.getName()}">
                        </option>
                    </select>
                </div>
                <div class="col-sm-6">

                    <select id="inputState2" class="form-control" required th:field="*{targetName}">
                        <option th:each="test : ${valutName}"
                                th:value="${test.getName()}"
                                th:text="${test.getName()}">
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-6">
                    <label class="control-label" id="selection">amount</label>
                    <input autofocus class="form-control" id="count" placeholder="count"
                           required th:field="*{count}" type="text">
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-sm-12">
                    <button class="btn btn-primary" type="submit" >КОНВЕРТИРОВАТЬ</button>
                </div>
            </div>
        </div>
    </form>
    <div class="container">
    <form action="history.html" class="col-sm-9" method="GET" role="form" th:action="@{/home/history}">
        <div class="form-group" >
            <div class="row">
                <div class="col-sm-12">
                    <button class="btn btn-primary" type="submit" >История</button>
                </div>
            </div>
        </div>
    </form>
    </div>
    <a th:href="@{/logout}">Sign out</a>
</div>
</body>
</html>